#container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

header {
  min-width: 1060px;
  background-color: rgb(5, 21, 107);
}

header nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  color: aliceblue;
}

header nav ul li a {
  margin: 0.5em;
  text-decoration: none;
  display: block;
  font-size: 1.5em;
  padding: 0.5em;
  border: 1px aliceblue solid;
  border-radius: 50px;
  transition: background-color 0.2s;
}

header nav ul li a:visited {
  color: aliceblue;
}

header nav ul li a:hover {
  color: rgb(5, 21, 107);
  background-color: aliceblue;
}

h3 {
  margin-top: 0px;
}

#title {
  font-size: 50px;
  text-align: center;
}

#form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

select {
  width: 380px;
  height: 45px;
  margin: 10px;
  font-size: 23px;
  border-radius: 5px;
}

input {
  width: 371px;
  height: 40px;
  margin: 10px;
  font-size: 23px;
  border-radius: 5px;
  border: 0.5px solid rgb(116, 116, 116);
  display: none;
}

input:hover {
  background-color: rgb(231, 238, 238);
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #39adc2; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  text-align: center; /* Centralizar o texto */
  text-decoration: none; /* Remove o sublinhado do link */
  border-radius: 5px; /* Cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Altera o cursor para um ponteiro */
  border: 2px solid transparent; /* Borda invisível */
  border-bottom: 5px;
  transition: background-color 0.3s; /* Efeito de transição */
}

button:hover {
  background-color: #33359e; /* Cor do botão quando passa o mouse */
}

button:active {
  background-color: #351f96; /* Cor do botão quando clicado */
}